<div>
    <p>Title: <strong>@Movie.Title</strong></p>
    <p>Release Date: <strong>@Movie.ReleaseDate.ToString("dd MMM yyyy")</strong></p>
    @if (DisplayButtons)
    {
        <div>
            <button @onclick=@(() => DeleteMovie.InvokeAsync(Movie))>Delete</button>
        </div>
    }
</div>

@code {

    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public bool DisplayButtons { get; set; }

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

}